# package output
build/
dist/
YarpTp.egg-info/

# IDE and Editor metadata
.vscode/

# cache files and directories
*.pyc
Yarptp/__pycache__
Yarptp/RPi
Yarptp/RPi/*

# test files
test*.py